<li>

    <h1> Hello {{req.params.id}} </h1>

    <figure class="bg-gray-100 rounded-xl p-8">
        <img class="w-32 h-32 rounded-full mx-auto" src="/sarah-dayan.jpg" alt="" width="384" height="512">
        <div class="pt-6 text-center space-y-4">
            <figcaption class="font-medium">
                <div class="text-cyan-600">
                    {{firstName lastName}}
                </div>
                <div class="text-gray-500">
                    {{favoiteBook}}
                </div>
                <div class="text-gray-500">
                    {{location}}
                </div>
                <div class="text-gray-500">
                    {{club}}
                </div>

            </figcaption>
        </div>
    </figure>
</li>

